@import '../../styles/variables';

.NavBar {
    display: block;
    .sports-roster-nav {
        background-color: $teamPrimaryColor;
        border: 1px solid white;
        .logout-btn {
            border: 1px solid black;
        }
    }
}